/* Logo Styling */
.logo img {
    height: 50px; /* Adjust based on your logo size */
    width: auto;
  }
  
  /* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    color: #fff;
    padding: 0.5rem 1rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    display: inline;
    font-weight: 500;
    font-family: 'poppins';
    size: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f39c12;
  }
  
.button{
  background-color: #988FFC;
}
